language: python
python:
- 2.6
- 2.7
- 3.2
- 3.3
install:
- pip install -r requirements.txt --use-mirrors
- pip install -r test_requirements.txt --use-mirrors
script:
- nosetests --with-coverage --cover-package=tidehunter
- chmod u+x deploy
- ./deploy
- pip uninstall tidehunter -yq